# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Hidden system files
*~
.DS_Store
Thumbs.db

# 연습장
sandbox.md

# 각종 pdf
*.pdf

# 블로그 소스들 무시
/blog_source

# 필요없는 캐시파일
__pycache__